<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Dashboard</h2>
    <p>Name: <%= name %></p>
    <p>Username: <%= email %></p>

    <% if (role === 'admin') { %>
        <p><a href="/users">View All Users</a></p>
    <% } %>

</main>

<%- include('partials/footer') %>

    <% if (isLoggedIn) { %>
    <p><a href="/dashboard">My Dashboard</a></p>
<% } %>
