<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner organizations:</p>
        <ul>
            <% if (organizations && organizations.length) { %>
                <% organizations.forEach(function(org) { %>
                    <li>
                        <% if (org.logo_filename) { %>
                            <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">
                        <% } %>
                        <strong><%= org.name %></strong>: <%= org.contact_email %>
                        <% if (org.description) { %>
                            <p><%= org.description %></p>
                        <% } %>
                    </li>
                <% }) %>
            <% } else { %>
                <li>No organizations found.</li>
            <% } %>
        </ul>
    </main>
    <%- include('partials/footer') %>