<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <% if (projects && projects.length) { %>
            <ul>
                <% projects.forEach(function(project) { %>
                    <li>
                        <%= new Date(project.date).toLocaleDateString() %>:
                        <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                        (<a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>)
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No upcoming projects.</p>
        <% } %>

        <p><% if (isAdmin) { %><a href="/new-project">Add a New Service Project</a><% } %></p>
    </main>
    <%- include('partials/footer') %>