<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <% if (projects && projects.length) { %>
            <ul>
                <% projects.forEach(function(project) { %>
                    <li>
                        <%= new Date(project.date).toLocaleDateString() %>: <%= project.title %> (<%= project.organization_name %>)
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No upcoming projects.</p>
        <% } %>
    </main>
    <%- include('partials/footer') %>